@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    padding-bottom: 3em;
    background-image: url("bg.jpg");
    background-size: cover;
}

#prompt {
    width: 95vw;
    height: 95vh;
    margin: 0 auto;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6D7D69;
}

#prompt h1 {
    text-align: center;
}

#prompt button {
    font-size: 3vw;
    width: min-content;
    padding: 1em;
    border-radius: 10px;
    background-color: #6D7D69;
    color: #F6F7F2;
    border-style: none;

}
#prompt button:hover {
    color: #CDDCDF;
}

#content {
    display: none;
    padding: 0;
    margin: 0;
}

.names {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CDDCDF;
    height: 10vh;
    font-size: 6vw;
    color:#A79766;
}

#content h1 {
    text-align: center;
    font-size: 5vw;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    height: max-content;
}

.embed,
.blog {
    width: 40vw;
    height: 70vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    color: #161925;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 30vw;
    height: 30vw;
}
.credits{
    position:fixed;
    width: 100vw;
    background-color: #6D7D69;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
}

#title{
    font-size: 4vw !important;
    font-family: 'Open Sans Condensed', sans-serif;
}
.quote{
    position: fixed;
    bottom: 4em;
    right: 0;
    width: 20px;
    background-color: #A79766;
    transition: right 2s ease 0s;
}

#quote{
    position: relative;
    width: 150px;
    font-size: 1.5em;
    background-color: #CDDCDF;
    right: -20px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#quote img{
    width: 100px;
    height: 100px;
}
.quote:hover{
    right: 200px;
}

@font-face {
    font-family: calli;
    src: url(Calligraffitti-Regular.ttf);
  }
@media screen and (max-width: 600px) {
    #prompt {
        font-size: 5vw;
    }

    #content {
        font-size: 3vw;
    }

    .container {
        flex-direction: column;
    }

    .blog {
        display: block;
    }
    .blog,.embed{
        width: 70vw;
    }
    iframe {
        width: 50vw;
        height: 50vw;
    }

}

@media screen and (max-width: 1000px) {
    
    .blog {
        display: block;
    }

}